.requirements {
    display: grid;
    grid-template-rows: 46px calc(100% - 46px);
    height: 100%;
    .requirements-header {
        display: flex;
        align-items: center;
        border-bottom: 2px solid darkgrey;
        font-size: 1rem;
        .add-button {
            margin-right: 15px;
            min-width: 190px;
            display: flex;
            button {
                margin: auto auto;
            }
        }
    }
    .requirements-list-container {
        height: 100%;
        overflow-y: scroll;
        .requirements-list {
            width: 80%;
            margin: 25px auto 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }
    .empty-message {
        width: 100%;
        text-align: center;
        padding: 40px 0;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

::ng-deep .requirement-drag-placeholder {
    background: #ccc;
    border: dotted 2px #999;
    min-height: 70px; // this should be the same as the requirement-item height or min-height
    min-width: 100%; // this should be the same as the requirement-item width or min-width
    margin-bottom: 20px;
}

::ng-deep .requirement-item {
    background: #ffffff;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    border-left: solid #0891cf 6px;
    margin-bottom: 20px;
    height: 70px;
    width: 100%;
    cursor: pointer;
    .requirement-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        .requirement-type {
            border: solid #0891cf 1px;
            color: #0891cf;
            border-radius: 1em;
            padding: 3px 8px;
            text-align: center;
        }
        .requirement-description {
            width: 30%;
            .highlight-name {
                font-weight: 600;
                color: #0891cf;
            }
        }
        .requirement-action {
            width: auto;
            display: flex;
            button {
                margin: 0 2px;
            }
        }
    }
}

