<p-dialog [header]="title" [(visible)]="display" [modal]="true" [draggable]="false" (onHide)="hideDialog()" [position]="'top'"
    styleClass="custom-edit-dialog">
    <section class="dialog-content">
        <div class="sub-requirement-type-dropdown">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="subRequirementTypeOptions"
                    [(ngModel)]="selectedSubRequirementType" optionLabel="label" optionValue="value" appendTo="body"
                    styleClass="sub-requirement-type-custom-dropdown" [disabled]="subRequirementTypeDropdownDisabled">
                </p-dropdown>
                <label for="dropdown">Requirement Type</label>
            </span>
        </div>
        <div class="sub-equirement-form-container" *ngIf="display">
            <!-- Sub Requirement Edit Form -->
            <app-sub-requirement-form #subRequirementForm [editMode]="editMode" [editSubRequirement]="editSubRequirement" [parentRequirement]="parentRequirement" [subRequirementType]="selectedSubRequirementType"></app-sub-requirement-form>
        </div>
    </section>
    <p-footer>
        <button pButton pRipple type="button" class="p-button-raised p-button-text" label="Cancel" icon="pi pi-times"
            (click)="hideDialog()"></button>
        <button *ngIf="!savingData" pButton pRipple type="button" class="p-button-raised" label="Save" icon="pi pi-save" (click)="saveSubRequirement()"></button>
        <button *ngIf="savingData" pButton pRipple type="button" class="p-button-raised" label="Saving" icon="pi pi-spin pi-spinner" [disabled]="true"></button>
    </p-footer>
</p-dialog>

<app-method-select-dialog></app-method-select-dialog>
<app-constructor-select-dialog></app-constructor-select-dialog>