<section class="sub-equirement-form-container" *ngIf="classSubRequirementForm">
    <h2>{{ formHeader }}</h2>
    <div [ngSwitch]="subRequirementType">
        <form class="sub-requirement-form" [formGroup]="classSubRequirementForm" *ngSwitchCase="'extend'">
            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <p-dropdown inputId="extendClass" [autoDisplayFirst]="false" [options]="currentExerciseClassList"
                        optionLabel="name" optionValue="id" appendTo="body" formControlName="extendClass"
                        styleClass="sub-requirement-type-custom-dropdown">
                    </p-dropdown>
                    <label for="extendClass">Extend Name</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.extendClass)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.extendClass) }}
                </small>
            </div>
        </form>

        <form class="sub-requirement-form" [formGroup]="classSubRequirementForm" *ngSwitchCase="'contains'">
            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <p-dropdown inputId="containClass" [autoDisplayFirst]="false" [options]="currentExerciseClassList"
                        optionLabel="name" optionValue="id" appendTo="body" formControlName="containClass"
                        styleClass="sub-requirement-type-custom-dropdown">
                    </p-dropdown>
                    <label for="containClass">Contain Class</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.containClass)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.containClass) }}
                </small>
            </div>

            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <p-dropdown inputId="relationType" [autoDisplayFirst]="false" [options]="relationTypes"
                        optionLabel="label" optionValue="value" appendTo="body" formControlName="relationType"
                        styleClass="sub-requirement-type-custom-dropdown">
                    </p-dropdown>
                    <label for="relationType">Relation Type</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.containClass)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.containClass) }}
                </small>
            </div>
        </form>

        <form class="sub-requirement-form" [formGroup]="classSubRequirementForm" *ngSwitchCase="'extend-name'">
            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <input type="text" id="extendTypeName" class="parameter-input-text" formControlName="extendTypeName"
                        pInputText>
                    <label for="extendTypeName">Extend Type Name</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.extendTypeName)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.extendTypeName) }}
                </small>
            </div>
        </form>

        <form class="sub-requirement-form" [formGroup]="classSubRequirementForm" *ngSwitchCase="'implement-name'">
            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <input type="text" id="implementTypeName" class="parameter-input-text" formControlName="implementTypeName"
                        pInputText>
                    <label for="implementTypeName">Implement Type Name</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.implementTypeName)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.implementTypeName) }}
                </small>
            </div>
        </form>

        <form class="sub-requirement-form" [formGroup]="classSubRequirementForm" *ngSwitchCase="'contains-field'">
            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <input type="text" id="fieldName" class="custom-input-text" formControlName="fieldName"
                        pInputText>
                    <label for="fieldName">Field Name</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.fieldName)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.fieldName) }}
                </small>
            </div>

            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <p-multiSelect inputId="modifiers" [options]="modifiers"
                        optionLabel="label" optionValue="value" appendTo="body" formControlName="modifiers"
                        display="chip" styleClass="sub-requirement-type-custom-dropdown"></p-multiSelect>
                    <label for="modifiers">Modifiers</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.modifiers)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.modifiers) }}
                </small>
            </div>

            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <input type="text" id="type" class="custom-input-text" formControlName="type"
                        pInputText>
                    <label for="type">Type</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.type)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.type) }}
                </small>
            </div>

            <div class="p-field sub-requirement-input-group">
                <h5>Include Setter Method</h5>
                <p-inputSwitch formControlName="includeSetter"></p-inputSwitch>
            </div>

            <div class="p-field sub-requirement-input-group">
                <h5>Include Getter Method</h5>
                <p-inputSwitch formControlName="includeGetter"></p-inputSwitch>
            </div>
        </form>

        <form class="sub-requirement-form" [formGroup]="classSubRequirementForm" *ngSwitchCase="'method'">
            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <input type="text" id="name" class="custom-input-text" formControlName="name"
                        pInputText>
                    <label for="name">Method Name</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.name)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.name) }}
                </small>
            </div>

            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <p-multiSelect inputId="modifiers" [options]="modifiers"
                        optionLabel="label" optionValue="value" appendTo="body" formControlName="modifiers"
                        display="chip" styleClass="sub-requirement-type-custom-dropdown"></p-multiSelect>
                    <label for="modifiers">Modifiers</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.modifiers)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.modifiers) }}
                </small>
            </div>

            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <input type="text" id="type" class="custom-input-text" formControlName="type"
                        pInputText>
                    <label for="type">Type</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.type)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.type) }}
                </small>
            </div>

            <div class="sub-requirement-input-group" formArrayName="parameters">
                <div class="parameters-header">
                    <h3 class="parameters-header-title">Parameters</h3>
                    <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Add" icon="pi pi-plus" (click)="addParameter()"></button>
                </div>
                <div *ngFor="let parameterGroup of getParameters().controls; index as i">
                    <div class="parameter-input" [formGroupName]="i">
                        <span class="p-float-label parameter-field">
                            <input type="text" id="parameterName" class="parameter-input-text" formControlName="name"
                                pInputText>
                            <label for="parameterName">Name</label>
                        </span>
                        <span class="p-float-label parameter-field">
                            <input type="text" id="type" class="parameter-input-text" formControlName="type"
                                pInputText>
                            <label for="type">Type</label>
                        </span>
                        <button pButton pRipple type="button" class="p-button-raised p-button-sm p-button-danger" icon="pi pi-times" (click)="removeParameter(i)"></button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="p-field sub-requirement-input-group">
                <div class="p-field-checkbox">
                    <p-checkbox [binary]="true" inputId="overridingSuperClassMethod" formControlName="overridingSuperClassMethod" (onChange)="toggleFormControlFromCheckbox($event, classSubRequirementForm.controls.overridingSuperClassMethodName)"></p-checkbox>
                    <label for="overridingSuperClassMethod">Is Overriding Super Class Method</label>
                </div>
            </div>
            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <input type="text" id="overridingSuperClassMethodName" class="parameter-input-text" formControlName="overridingSuperClassMethodName"
                        pInputText>
                    <label for="overridingSuperClassMethodName">Super Class Name</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.overridingSuperClassMethodName)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.overridingSuperClassMethodName) }}
                </small>
            </div>
        </form>

        <form class="sub-requirement-form" [formGroup]="classSubRequirementForm" *ngSwitchCase="'constructor'">

            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <p-multiSelect inputId="modifiers" [options]="modifiers"
                        optionLabel="label" optionValue="value" appendTo="body" formControlName="modifiers"
                        display="chip" styleClass="sub-requirement-type-custom-dropdown"></p-multiSelect>
                    <label for="modifiers">Modifiers</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.modifiers)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.modifiers) }}
                </small>
            </div>

            <div class="sub-requirement-input-group" formArrayName="parameters">
                <div class="parameters-header">
                    <h3 class="parameters-header-title">Parameters</h3>
                    <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Add" icon="pi pi-plus" (click)="addParameter()"></button>
                </div>
                <div *ngFor="let parameterGroup of getParameters().controls; index as i">
                    <div class="parameter-input" [formGroupName]="i">
                        <span class="p-float-label parameter-field">
                            <input type="text" id="parameterName" class="parameter-input-text" formControlName="name"
                                pInputText>
                            <label for="parameterName">Name</label>
                        </span>
                        <span class="p-float-label parameter-field">
                            <input type="text" id="type" class="parameter-input-text" formControlName="type"
                                pInputText>
                            <label for="type">Type</label>
                        </span>
                        <button pButton pRipple type="button" class="p-button-raised p-button-sm p-button-danger" icon="pi pi-times" (click)="removeParameter(i)"></button>
                    </div>
                </div>
            </div>
        </form>

        <form class="sub-requirement-form" [formGroup]="classSubRequirementForm" *ngSwitchCase="'override-object-method'">

            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <p-dropdown inputId="objectMethod" [autoDisplayFirst]="false" [options]="objectMethods"
                        optionLabel="label" optionValue="value" appendTo="body" formControlName="objectMethod"
                        styleClass="sub-requirement-type-custom-dropdown">
                    </p-dropdown>
                    <label for="objectMethod">Object Method</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.objectMethod)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.objectMethod) }}
                </small>
            </div>

            
        </form>

        <form class="sub-requirement-form" [formGroup]="classSubRequirementForm" *ngSwitchCase="'method-call-method'"> 
            <div formGroupName="method">
                <div class="method-section-header">
                    <h3>Caller Method</h3>
                    <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Pick Method" icon="pi pi-external-link" (click)="openPickMethodDialog(methodType.CONTAINS_METHOD, true)"></button>
                </div>
                <div class="p-field sub-requirement-input-group">
                    <span class="p-float-label">
                        <input type="text" id="name" class="custom-input-text" formControlName="name"
                            pInputText>
                        <label for="name">Method Name</label>
                    </span>
                    <small *ngIf="isControlInvalid(asFormGroup(classSubRequirementForm.controls.method).controls.name)" class="p-invalid">
                        {{ getErrorMessage(asFormGroup(classSubRequirementForm.controls.method).controls.name) }}
                    </small>
                </div>
    
                <div class="p-field sub-requirement-input-group">
                    <span class="p-float-label">
                        <p-multiSelect inputId="modifiers" [options]="modifiers"
                            optionLabel="label" optionValue="value" appendTo="body" formControlName="modifiers"
                            display="chip" styleClass="sub-requirement-type-custom-dropdown"></p-multiSelect>
                        <label for="modifiers">Modifiers</label>
                    </span>
                    <small *ngIf="isControlInvalid(asFormGroup(classSubRequirementForm.controls.method).controls.modifiers)" class="p-invalid">
                        {{ getErrorMessage(asFormGroup(classSubRequirementForm.controls.method).controls.modifiers) }}
                    </small>
                </div>
    
                <div class="p-field sub-requirement-input-group">
                    <span class="p-float-label">
                        <input type="text" id="type" class="custom-input-text" formControlName="type"
                            pInputText>
                        <label for="type">Type</label>
                    </span>
                    <small *ngIf="isControlInvalid(asFormGroup(classSubRequirementForm.controls.method).controls.type)" class="p-invalid">
                        {{ getErrorMessage(asFormGroup(classSubRequirementForm.controls.method).controls.type) }}
                    </small>
                </div>
    
                <div class="sub-requirement-input-group" formArrayName="parameters">
                    <div class="parameters-header">
                        <h3 class="parameters-header-title">Parameters</h3>
                        <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Add" icon="pi pi-plus" (click)="addMethodParameter()"></button>
                    </div>
                    <div *ngFor="let parameterGroup of getMethodParameters().controls; index as i">
                        <div class="parameter-input" [formGroupName]="i">
                            <span class="p-float-label parameter-field">
                                <input type="text" id="parameterName" class="parameter-input-text" formControlName="name"
                                    pInputText>
                                <label for="parameterName">Name</label>
                            </span>
                            <span class="p-float-label parameter-field">
                                <input type="text" id="type" class="parameter-input-text" formControlName="type"
                                    pInputText>
                                <label for="type">Type</label>
                            </span>
                            <button pButton pRipple type="button" class="p-button-raised p-button-sm p-button-danger" icon="pi pi-times" (click)="removeMethodParameter(i)"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div formGroupName="callMethod">
                <div class="method-section-header">
                    <h3>Calling Method</h3>
                    <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Pick Method" icon="pi pi-external-link" (click)="openPickMethodDialog(methodType.CONTAINS_CALL_METHOD, false)"></button>
                </div>
                <div class="p-field sub-requirement-input-group">
                    <span class="p-float-label">
                        <input type="text" id="name" class="custom-input-text" formControlName="name"
                            pInputText>
                        <label for="name">Method Name</label>
                    </span>
                    <small *ngIf="isControlInvalid(asFormGroup(classSubRequirementForm.controls.callMethod).controls.name)" class="p-invalid">
                        {{ getErrorMessage(asFormGroup(classSubRequirementForm.controls.callMethod).controls.name) }}
                    </small>
                </div>
    
                <div class="p-field sub-requirement-input-group">
                    <span class="p-float-label">
                        <p-multiSelect inputId="modifiers" [options]="modifiers"
                            optionLabel="label" optionValue="value" appendTo="body" formControlName="modifiers"
                            display="chip" styleClass="sub-requirement-type-custom-dropdown"></p-multiSelect>
                        <label for="modifiers">Modifiers</label>
                    </span>
                    <small *ngIf="isControlInvalid(asFormGroup(classSubRequirementForm.controls.callMethod).controls.modifiers)" class="p-invalid">
                        {{ getErrorMessage(asFormGroup(classSubRequirementForm.controls.callMethod).controls.modifiers) }}
                    </small>
                </div>
    
                <div class="p-field sub-requirement-input-group">
                    <span class="p-float-label">
                        <input type="text" id="type" class="custom-input-text" formControlName="type"
                            pInputText>
                        <label for="type">Type</label>
                    </span>
                    <small *ngIf="isControlInvalid(asFormGroup(classSubRequirementForm.controls.callMethod).controls.type)" class="p-invalid">
                        {{ getErrorMessage(asFormGroup(classSubRequirementForm.controls.callMethod).controls.type) }}
                    </small>
                </div>
    
                <div class="sub-requirement-input-group" formArrayName="parameters">
                    <div class="parameters-header">
                        <h3 class="parameters-header-title">Parameters</h3>
                        <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Add" icon="pi pi-plus" (click)="addCallMethodParameter()"></button>
                    </div>
                    <div *ngFor="let parameterGroup of getCallMethodParameters().controls; index as i">
                        <div class="parameter-input" [formGroupName]="i">
                            <span class="p-float-label parameter-field">
                                <input type="text" id="parameterName" class="parameter-input-text" formControlName="name"
                                    pInputText>
                                <label for="parameterName">Name</label>
                            </span>
                            <span class="p-float-label parameter-field">
                                <input type="text" id="type" class="parameter-input-text" formControlName="type"
                                    pInputText>
                                <label for="type">Type</label>
                            </span>
                            <button pButton pRipple type="button" class="p-button-raised p-button-sm p-button-danger" icon="pi pi-times" (click)="removeCallMethodParameter(i)"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <input type="text" id="callMethodClassName" class="parameter-input-text" formControlName="callMethodClassName"
                        pInputText>
                    <label for="callMethodClassName">Call Method Class Name</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.callMethodClassName)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.callMethodClassName) }}
                </small>
            </div>
            <div class="p-field sub-requirement-input-group">
                <div class="p-field-checkbox">
                    <p-checkbox [binary]="true" inputId="isCallMethodClassSuperClass" formControlName="isCallMethodClassSuperClass"></p-checkbox>
                    <label for="isCallMethodClassSuperClass">Is call to a Super Class Method?</label>
                </div>
            </div>
        </form>

        <form class="sub-requirement-form" [formGroup]="classSubRequirementForm" *ngSwitchCase="'constructor-call-method'"> 
            <div formGroupName="constructorMethod">
                <div class="method-section-header">
                    <h3>Constructor Method</h3>
                    <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Pick Constructor" icon="pi pi-external-link" (click)="openPickConstructorDialog(constructorType.CONSTRUCTOR_CALL_METHOD, true)"></button>
                </div>
                <div class="p-field sub-requirement-input-group">
                    <span class="p-float-label">
                        <p-multiSelect inputId="modifiers" [options]="modifiers"
                            optionLabel="label" optionValue="value" appendTo="body" formControlName="modifiers"
                            display="chip" styleClass="sub-requirement-type-custom-dropdown"></p-multiSelect>
                        <label for="modifiers">Modifiers</label>
                    </span>
                    <small *ngIf="isControlInvalid(asFormGroup(classSubRequirementForm.controls.constructorMethod).controls.modifiers)" class="p-invalid">
                        {{ getErrorMessage(asFormGroup(classSubRequirementForm.controls.constructorMethod).controls.modifiers) }}
                    </small>
                </div>
    
                <div class="sub-requirement-input-group" formArrayName="parameters">
                    <div class="parameters-header">
                        <h3 class="parameters-header-title">Parameters</h3>
                        <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Add" icon="pi pi-plus" (click)="addConstructorMethodParameter()"></button>
                    </div>
                    <div *ngFor="let parameterGroup of getConstructorMethodParameters().controls; index as i">
                        <div class="parameter-input" [formGroupName]="i">
                            <span class="p-float-label parameter-field">
                                <input type="text" id="parameterName" class="parameter-input-text" formControlName="name"
                                    pInputText>
                                <label for="parameterName">Name</label>
                            </span>
                            <span class="p-float-label parameter-field">
                                <input type="text" id="type" class="parameter-input-text" formControlName="type"
                                    pInputText>
                                <label for="type">Type</label>
                            </span>
                            <button pButton pRipple type="button" class="p-button-raised p-button-sm p-button-danger" icon="pi pi-times" (click)="removeConstructorMethodParameter(i)"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div formGroupName="callMethod">
                <div class="method-section-header">
                    <h3>Calling Method</h3>
                    <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Pick Method" icon="pi pi-external-link" (click)="openPickMethodDialog(methodType.CONSTRUCTOR_CALL_METHOD, false)"></button>
                </div>
                <div class="p-field sub-requirement-input-group">
                    <span class="p-float-label">
                        <input type="text" id="name" class="custom-input-text" formControlName="name"
                            pInputText>
                        <label for="name">Method Name</label>
                    </span>
                    <small *ngIf="isControlInvalid(asFormGroup(classSubRequirementForm.controls.callMethod).controls.name)" class="p-invalid">
                        {{ getErrorMessage(asFormGroup(classSubRequirementForm.controls.callMethod).controls.name) }}
                    </small>
                </div>
    
                <div class="p-field sub-requirement-input-group">
                    <span class="p-float-label">
                        <p-multiSelect inputId="modifiers" [options]="modifiers"
                            optionLabel="label" optionValue="value" appendTo="body" formControlName="modifiers"
                            display="chip" styleClass="sub-requirement-type-custom-dropdown"></p-multiSelect>
                        <label for="modifiers">Modifiers</label>
                    </span>
                    <small *ngIf="isControlInvalid(asFormGroup(classSubRequirementForm.controls.callMethod).controls.modifiers)" class="p-invalid">
                        {{ getErrorMessage(asFormGroup(classSubRequirementForm.controls.callMethod).controls.modifiers) }}
                    </small>
                </div>
    
                <div class="p-field sub-requirement-input-group">
                    <span class="p-float-label">
                        <input type="text" id="type" class="custom-input-text" formControlName="type"
                            pInputText>
                        <label for="type">Type</label>
                    </span>
                    <small *ngIf="isControlInvalid(asFormGroup(classSubRequirementForm.controls.callMethod).controls.type)" class="p-invalid">
                        {{ getErrorMessage(asFormGroup(classSubRequirementForm.controls.callMethod).controls.type) }}
                    </small>
                </div>
    
                <div class="sub-requirement-input-group" formArrayName="parameters">
                    <div class="parameters-header">
                        <h3 class="parameters-header-title">Parameters</h3>
                        <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Add" icon="pi pi-plus" (click)="addCallMethodParameter()"></button>
                    </div>
                    <div *ngFor="let parameterGroup of getCallMethodParameters().controls; index as i">
                        <div class="parameter-input" [formGroupName]="i">
                            <span class="p-float-label parameter-field">
                                <input type="text" id="parameterName" class="parameter-input-text" formControlName="name"
                                    pInputText>
                                <label for="parameterName">Name</label>
                            </span>
                            <span class="p-float-label parameter-field">
                                <input type="text" id="type" class="parameter-input-text" formControlName="type"
                                    pInputText>
                                <label for="type">Type</label>
                            </span>
                            <button pButton pRipple type="button" class="p-button-raised p-button-sm p-button-danger" icon="pi pi-times" (click)="removeCallMethodParameter(i)"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-field sub-requirement-input-group">
                <span class="p-float-label">
                    <input type="text" id="callMethodClassName" class="parameter-input-text" formControlName="callMethodClassName"
                        pInputText>
                    <label for="callMethodClassName">Call Method Class Name</label>
                </span>
                <small *ngIf="isControlInvalid(classSubRequirementForm.controls.callMethodClassName)" class="p-invalid">
                    {{ getErrorMessage(classSubRequirementForm.controls.callMethodClassName) }}
                </small>
            </div>
        </form>

        <form class="sub-requirement-form" [formGroup]="classSubRequirementForm" *ngSwitchCase="'constructor-call-constructor'"> 
            <div formGroupName="constructorMethod">
                <div class="method-section-header">
                    <h3>Current Class Constructor Method</h3>
                    <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Pick Constructor" icon="pi pi-external-link" (click)="openPickConstructorDialog(constructorType.CURRENT_CONSTRUCTOR_CALL_CONSTRUCTOR, true)"></button>
                </div>
                <div class="p-field sub-requirement-input-group">
                    <span class="p-float-label">
                        <p-multiSelect inputId="modifiers" [options]="modifiers"
                            optionLabel="label" optionValue="value" appendTo="body" formControlName="modifiers"
                            display="chip" styleClass="sub-requirement-type-custom-dropdown"></p-multiSelect>
                        <label for="modifiers">Modifiers</label>
                    </span>
                    <small *ngIf="isControlInvalid(asFormGroup(classSubRequirementForm.controls.constructorMethod).controls.modifiers)" class="p-invalid">
                        {{ getErrorMessage(asFormGroup(classSubRequirementForm.controls.constructorMethod).controls.modifiers) }}
                    </small>
                </div>
    
                <div class="sub-requirement-input-group" formArrayName="parameters">
                    <div class="parameters-header">
                        <h3 class="parameters-header-title">Parameters</h3>
                        <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Add" icon="pi pi-plus" (click)="addConstructorMethodParameter()"></button>
                    </div>
                    <div *ngFor="let parameterGroup of getConstructorMethodParameters().controls; index as i">
                        <div class="parameter-input" [formGroupName]="i">
                            <span class="p-float-label parameter-field">
                                <input type="text" id="parameterName" class="parameter-input-text" formControlName="name"
                                    pInputText>
                                <label for="parameterName">Name</label>
                            </span>
                            <span class="p-float-label parameter-field">
                                <input type="text" id="type" class="parameter-input-text" formControlName="type"
                                    pInputText>
                                <label for="type">Type</label>
                            </span>
                            <button pButton pRipple type="button" class="p-button-raised p-button-sm p-button-danger" icon="pi pi-times" (click)="removeConstructorMethodParameter(i)"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div formGroupName="callConstructor">
                <div class="method-section-header">
                    <h3>Calling Constructor</h3>
                    <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Pick Constructor" icon="pi pi-external-link" (click)="openPickConstructorDialog(constructorType.OTHER_CONSTRUCTOR_CALL_CONSTRUCTOR, false)"></button>
                </div>
                <div class="p-field sub-requirement-input-group">
                    <span class="p-float-label">
                        <p-multiSelect inputId="modifiers" [options]="modifiers"
                            optionLabel="label" optionValue="value" appendTo="body" formControlName="modifiers"
                            display="chip" styleClass="sub-requirement-type-custom-dropdown"></p-multiSelect>
                        <label for="modifiers">Modifiers</label>
                    </span>
                    <small *ngIf="isControlInvalid(asFormGroup(classSubRequirementForm.controls.callConstructor).controls.modifiers)" class="p-invalid">
                        {{ getErrorMessage(asFormGroup(classSubRequirementForm.controls.callConstructor).controls.modifiers) }}
                    </small>
                </div>
    
                <div class="sub-requirement-input-group" formArrayName="parameters">
                    <div class="parameters-header">
                        <h3 class="parameters-header-title">Parameters</h3>
                        <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Add" icon="pi pi-plus" (click)="addCallConstructorParameter()"></button>
                    </div>
                    <div *ngFor="let parameterGroup of getCallConstructorParameters().controls; index as i">
                        <div class="parameter-input" [formGroupName]="i">
                            <span class="p-float-label parameter-field">
                                <input type="text" id="parameterName" class="parameter-input-text" formControlName="name"
                                    pInputText>
                                <label for="parameterName">Name</label>
                            </span>
                            <span class="p-float-label parameter-field">
                                <input type="text" id="type" class="parameter-input-text" formControlName="type"
                                    pInputText>
                                <label for="type">Type</label>
                            </span>
                            <button pButton pRipple type="button" class="p-button-raised p-button-sm p-button-danger" icon="pi pi-times" (click)="removeCallConstructorParameter(i)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>