<section>
    <section class="exercise-data">
        <div class="exercise-title">
            <h1>Exercise Title</h1>
        </div>
        <div class="exercise-description">
            <p>
                This exercise is about many many things...
            </p>
        </div>
    </section>
    <section class="requirements">
        <div class="requirements-header">
            <button pButton type="button" class="p-button-raised"></button>
            <div>
                Requirements
            </div>
        </div>
    </section>
</section>