<section *ngIf="exercise">
    <section class="exercise-data">
        <div class="exercise-title">
            <h1>Exercise Title</h1>
        </div>
        <div class="exercise-description">
            <p>
                This exercise is about many many things...
            </p>
            <h2>
                {{ exercise.getExportData() | json}}
            </h2>
        </div>
    </section>
    <section class="requirements">
        <div class="requirements-header">
            <div class="add-button">
                <button pButton type="button" class="p-button-raised" label="Add Requirement"></button>
            </div>
            <div class="highlighted-text">
                Requirements
            </div>
        </div>
    </section>
</section>