

.requirements {
    display: flex;
    flex-direction: column;
    border-top: #0891cf solid 2px;
    padding-top: 8px;
    .requirements-header {
        display: flex;
        align-items: center;
        .add-button {
            margin-right: 15px;
        }
    }
    .requirements-list {
        width: 80%;
        margin: 25px auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .requirement-item {
            background: #ffffff;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            border-radius: 3px;
            border-left: solid #0891cf 6px;
            margin-bottom: 20px;
            height: 70px;
            width: 100%;
            cursor: pointer;
            .requirement-content {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 100%;
                .requirement-type {
                    border: solid #0891cf 1px;
                    color: #0891cf;
                    border-radius: 1em;
                    padding: 3px 6px;
                }
                .requirement-description {
                    width: 30%;
                    .highlight-name {
                        font-weight: 600;
                        color: #0891cf;
                    }
                }
                .requirement-action {
                    width: 5%;
                }
            }
        }
    }
}

.exercise-data {
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 990;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #0891cf;
    .exercise-title {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .exercise-id {
        font-size: 1em;
        color: grey;
    }
    .exercise-exercise-project-info {
        border: 2px solid #0890cf7a;
        border-radius: 5px;
        padding: 7px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        position: relative;
        .project-info-item {
            margin-left: 15px;
            margin-top: 10px;
            font-size: 1.25em;
            .project-info-header {
                color: #0891cf;
                font-weight: 500;
                margin-right: 20px;
            }
        }
        .project-info-edit-button {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
    .exercise-project-file {
        border: 1px #0891cf;
        border-radius: 5px;
    }
}

