.subrequirements {
    display: flex;
    flex-direction: column;
    .subrequirements-header {
        display: flex;
        align-items: center;
        .top-buttons {
            margin-right: 15px;
            min-width: 190px;
            display: flex;
            button {
                margin: auto 3px;
            }
        }
    }
    .subrequirements-list {
        width: 80%;
        margin: 25px auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .subrequirement-item {
            background: #ffffff;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            border-radius: 3px;
            border-left: solid #0891cf 6px;
            margin-bottom: 20px;
            min-height: 70px;
            padding: 15px 0;
            width: 100%;
            cursor: pointer;
            .subrequirement-content {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 100%;
                .subrequirement-type {
                    border: solid #0891cf 1px;
                    color: #0891cf;
                    border-radius: 1em;
                    padding: 3px 8px;
                }
                .subrequirement-description {
                    width: 30%;
                    .highlight-name {
                        font-weight: 600;
                        color: #0891cf;
                    }
                }
                .subrequirement-action {
                    width: 5%;
                }
            }
        }
    }
}

