.subrequirements {
    display: flex;
    flex-direction: column;
    .subrequirements-header {
        display: flex;
        align-items: center;
        .top-buttons {
            margin-right: 15px;
            min-width: 190px;
            display: flex;
            button {
                margin: auto 3px;
            }
        }
    }
    .empty-message {
        width: 100%;
        text-align: center;
        padding: 40px 0;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .subrequirements-list {
        width: 80%;
        margin: 25px auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}

::ng-deep .requirement-drag-placeholder {
    background: #ccc;
    border: dotted 2px #999;
    min-height: 70px; // this should be the same as the requirement-item height or min-height
    min-width: 100%; // this should be the same as the requirement-item width or min-width
    margin-bottom: 20px;
}

:host ::ng-deep .subrequirement-item {
    background: #ffffff;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    border-left: solid #0891cf 6px;
    margin-bottom: 20px;
    min-height: 70px;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    .subrequirement-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        .subrequirement-type {
            border: solid #0891cf 1px;
            color: #0891cf;
            border-radius: 1em;
            padding: 3px 8px;
            width: 15%;
        }
        .subrequirement-description {
            width: 60%;
            .highlight-name {
                font-weight: 600;
                color: #0891cf;
            }
        }
        .subrequirement-action {
            width: 15%;
            button {
                margin: 2px;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .subrequirement-item {
        padding: 5px 0;
        .subrequirement-type {
            width: 17%;
        }
        .subrequirement-description {
            width: 40%;
        }
        .subrequirement-action {
            width: 20%;
        }
    }
}

