<section class="subrequirements">
    <div class="subrequirements-header">
        <div class="top-buttons">
            <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-raised" label="back" (click)="goBackToRequirements()"></button>
            <button pButton pRipple type="button" class="p-button-raised" label="Add Subrequirement" icon="pi pi-plus" (click)="addSubRequirement()"></button>
        </div>
        <div class="highlighted-text">
            Class {{ editClassRequirement.name }} Subrequirements
        </div>
    </div>
    <div class="subrequirements-list">
        <div class="subrequirement-item" *ngFor="let req of editClassRequirement.relatedRequirements">
            <div class="subrequirement-content">
                <div class="subrequirement-type">
                    {{ req.type }}
                </div>
                <div class="subrequirement-description" [ngSwitch]="req.type">
                    <div *ngSwitchCase="'extend'">
                        Class <span class="highlight-name">{{ editClassRequirement.name }}</span> extends class <span class="highlight-name">{{ getExtendRequirement(req).extendClass.name }}</span>
                    </div>
                    <div *ngSwitchCase="'contains'">
                        Class <span class="highlight-name">{{ editClassRequirement.name }}</span> contains instance of class <span class="highlight-name">{{ getContainsRequirement(req).containClass.name }}</span>
                    </div>
                    <div *ngSwitchCase="'contains-field'">
                        Class <span class="highlight-name">{{ editClassRequirement.name }}</span> contains a field with name <span class="highlight-name">{{ getClassHasFieldRequirement(req).field.name }}</span> 
                        and type <span class="highlight-name">{{ stringifyType(getClassHasFieldRequirement(req).field.type) }}</span>
                    </div>
                    <div *ngSwitchCase="'method'">
                        Class <span class="highlight-name">{{ editClassRequirement.name }}</span> contains a method with name <span class="highlight-name">{{ getClassHasMethodRequirement(req).method.name }}</span> 
                        , parameters list <div class="highlight-name">{{ getMethodTypeString(getClassHasMethodRequirement(req).method) }}</div> return type <span class="highlight-name">{{ stringifyType(getClassHasMethodRequirement(req).method.type) }}</span>
                    </div>
                    <div *ngSwitchCase="'constructor'">
                        Class <span class="highlight-name">{{ editClassRequirement.name }}</span> contains a constructor with parameters list <div class="highlight-name">{{ getMethodTypeString(getClassHasConstructorRequirement(req).constructorReq) }}</div>
                    </div>
                    <div *ngSwitchCase="'implement-name'">
                        Class <span class="highlight-name">{{ editClassRequirement.name }}</span> implements an interface named <div class="highlight-name">{{ getImplementNameRequirement(req).implementTypeName }}</div>
                    </div>
                    <div *ngSwitchCase="'extend-name'">
                        Class <span class="highlight-name">{{ editClassRequirement.name }}</span> extends a class named <div class="highlight-name">{{ getExtendNameRequirement(req).extendTypeName }}</div>
                    </div>
                </div>
                <div class="subrequirement-action">
                    <button pButton pRipple type="button" icon="pi pi-cog" class="p-button-rounded" (click)="editSubRequirement(req)"></button>
                </div>
            </div>
        </div>
    </div>
</section>