<div [formGroup]="methodForm" *ngIf="methodForm">
    <h3>Call Method</h3>
    <div class="p-field sub-requirement-input-group">
        <span class="p-float-label">
            <input type="text" id="name" class="custom-input-text" formControlName="name"
                pInputText>
            <label for="name">Method Name</label>
        </span>
        <small *ngIf="isControlInvalid(methodForm.controls.name)" class="p-error">
            {{ getErrorMessage(methodForm.controls.name) }}
        </small>
    </div>

    <div class="p-field sub-requirement-input-group">
        <span class="p-float-label">
            <p-multiSelect inputId="modifiers" [options]="modifiers"
                optionLabel="label" optionValue="value" appendTo="body" formControlName="modifiers"
                display="chip" styleClass="sub-requirement-type-custom-dropdown"></p-multiSelect>
            <label for="modifiers">Modifiers</label>
        </span>
        <small *ngIf="isControlInvalid(methodForm.controls.modifiers)" class="p-error">
            {{ getErrorMessage(methodForm.controls.modifiers) }}
        </small>
    </div>

    <div class="p-field sub-requirement-input-group">
        <span class="p-float-label">
            <input type="text" id="type" class="custom-input-text" formControlName="type"
                pInputText>
            <label for="type">Type</label>
        </span>
        <small *ngIf="isControlInvalid(methodForm.controls.type)" class="p-error">
            {{ getErrorMessage(methodForm.controls.type) }}
        </small>
    </div>

    <div class="sub-requirement-input-group" formArrayName="parameters">
        <div class="parameters-header">
            <h3 class="parameters-header-title">Parameters</h3>
            <button pButton pRipple type="button" class="p-button-raised p-button-sm" label="Add" icon="pi pi-plus" (click)="addMethodParameter()"></button>
        </div>
        <div *ngFor="let parameterGroup of getMethodParameters().controls; index as i">
            <div class="parameter-input" [formGroupName]="i">
                <span class="p-float-label parameter-field">
                    <input type="text" id="parameterName" class="parameter-input-text" formControlName="name"
                        pInputText>
                    <label for="parameterName">Name</label>
                </span>
                <span class="p-float-label parameter-field">
                    <input type="text" id="type" class="parameter-input-text" formControlName="type"
                        pInputText>
                    <label for="type">Type</label>
                </span>
                <button pButton pRipple type="button" class="p-button-raised p-button-sm p-button-danger" icon="pi pi-times" (click)="removeMethodParameter(i)"></button>
            </div>
        </div>
    </div>
</div>