.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 40%;
    text-align: center;
    .start-content {
        display: flex;
        flex-direction: column;
        .title-container {
            display: flex;
            flex-direction: column;
            margin-top: 2vh;
            .title {
                font-size: 1.5em;
                font-weight: 500;
                color: #0b83bb;
            }
            .description {
                font-size: 1.1em;
                color: #0891cf;
            }
        }
    }
    .action-container {
        display: flex;
        margin-top: 25px;
        .action-item {
            display: flex;
            flex-direction: column;
            padding: 12px;
            border: 2px solid #0891cf;
            color: #0891cf;
            border-radius: 5px;
            transition: background-color .4s;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            margin: 0 7px;
            cursor: pointer;
            .icon {
                i {
                    font-size: 5rem;
                }
            }
            .title {
                font-size: 1.1em;
                font-weight: 500;
            }
        }
        .action-item:hover {
            background-color: #0890cf34;
        }
        .action-item:active {
            background-color: #0890cf65;
        }
    }
}

@media screen and (max-width: 820px) {
    .start-container {
        width: 400px;
    }
}