<section class="start-container">
    <section class="start-content">
        <div class="title-container">
            <div class="title">
                <h2>IDELearn Exercise Editor</h2>
            </div>
            <div class="description">
                Create a new exercise or open an existing one to edit
            </div>
        </div>
        <div class="action-container">
            <div class="action-item" (click)="newExercise()">
                <div class="icon">
                    <i class="pi pi-plus"></i>
                </div>
                <div class="title">Create a new Exercise</div>
            </div>
            <div class="action-item" (click)="openExerciseFile()">
                <div class="icon">
                    <i class="pi pi-folder-open"></i>
                </div>
                <div class="title">Open an Existing Exercise</div>
            </div>
        </div>
    </section>
</section>